<footer>
    <p>Proyecto innovación social, generado para el ramo de Ciudadanía, pobreza e innovación social. Desarrollado por Jorge Gangale, Cristian Schweikart, Camilo González.</p>
    
    <div class="social-icons">
      <a href="https://www.facebook.com/tu_perfil_de_facebook"><img src="https://static.cdnlogo.com/logos/f/84/facebook.svg" alt="Facebook"></a>
      <a href="https://www.twitter.com/tu_perfil_de_twitter"><img src="https://static.cdnlogo.com/logos/t/96/twitter-icon.svg" alt="Twitter"></a>
      <a href="https://www.instagram.com/tu_perfil_de_instagram"><img src="https://static.cdnlogo.com/logos/i/4/instagram.svg" alt="Instagram"></a>
      <a href="https://www.youtube.com/tu_canal_de_youtube"><img src="https://static.cdnlogo.com/logos/y/57/youtube-icon.svg" alt="YouTube"></a>
    </div>
  </footer>