<app-header></app-header>

<section id="section1" >
  <div class="container">
    <div class="row">
      <div class="col-md-4 left-section">
        <img src="https://media.istockphoto.com/id/1412778148/es/vector/reuniones-en-l%C3%ADnea.jpg?s=612x612&w=0&k=20&c=k1H2G3_uC58rcmU7C7Nw7Q0wil0ocGDMm7Ci-1wf1zc="
        alt="Imagen referente al texto de la sección 1" class="img-fluid d-block">

      </div>
      <div class="col-md-4 center-section">
        <h2 class="text-center">Comparte tu conocimiento y habilidades</h2>
        <p>Para comenzar, debes compartir tu información de contacto. Declara en tu perfil tus habilidades, talentos y capacidades. Además, agrega el horario disponible que tengas. De esta forma, podemos establecer contacto contigo. Es importante que nos cuentes si tienes materiales, herramientas o lo necesario para realizar tu trabajo.</p>
        <p>¡Únete a nuestra comunidad y comienza a compartir tu conocimiento!</p>
      </div>
      <div class="col-md-4 right-section">
        <img src="https://media.istockphoto.com/id/1490684106/es/vector/ilustraci%C3%B3n-vectorial-de-hombre-de-negocios-corriendo-por-las-escaleras-hacia-la-meta.jpg?s=612x612&w=0&k=20&c=IC8_pxk-d_wZXZzCga5j2Bfd53g7AvPsI9WvGARrqS0="
        alt="Imagen referente al texto de la sección 1" class="img-fluid d-block">

      </div>
    </div>
  </div>
</section>



<section id="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 left-section">
        <h3>Información de perfil</h3>
        <form (ngSubmit)="submitProfileForm()" class="profile-form">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Ingrese su nombre" required>
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico:</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Ingrese su correo electrónico" required>
          </div>
          <div class="form-group">
            <label for="celular">Número celular:</label>
            <input type="tel" class="form-control" id="celular" name="celular" [(ngModel)]="celular" placeholder="Ingrese su número celular" required>
          </div>
          <div class="form-group">
            <label for="whatsapp">Mensajería:</label>
            <select class="form-control" id="whatsapp" name="whatsapp" [(ngModel)]="mensajeria" (change)="toggleOtroOption()">
              <option value="whatsapp">WhatsApp</option>
              <option value="telegram">Telegram</option>
              <option value="otro">Otro</option>
            </select>
          </div>
          <div class="form-group" *ngIf="mensajeria === 'otro'">
            <label for="otroMensajeria">Otra mensajería:</label>
            <input type="text" class="form-control" id="otroMensajeria" name="otroMensajeria" [(ngModel)]="otroMensajeria" placeholder="Ingrese otra mensajería">
          </div>
          <div class="form-group">
            <label for="redesSociales">Redes sociales:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="facebook" name="facebook" [(ngModel)]="redesSociales.facebook" (change)="toggleSocialLink('facebook')">
              <label class="form-check-label" for="facebook">Facebook</label>
              <input type="text" class="form-control" id="facebookLink" name="facebookLink" [(ngModel)]="redesSocialesLinks['facebook']" placeholder="Ingrese el enlace de Facebook" *ngIf="redesSociales.facebook">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="instagram" name="instagram" [(ngModel)]="redesSociales.instagram" (change)="toggleSocialLink('instagram')">
              <label class="form-check-label" for="instagram">Instagram</label>
              <input type="text" class="form-control" id="instagramLink" name="instagramLink" [(ngModel)]="redesSocialesLinks['instagram']" placeholder="Ingrese el enlace de Instagram" *ngIf="redesSociales.instagram">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="twitter" name="twitter" [(ngModel)]="redesSociales.twitter" (change)="toggleSocialLink('twitter')">
              <label class="form-check-label" for="twitter">Twitter</label>
              <input type="text" class="form-control" id="twitterLink" name="twitterLink" [(ngModel)]="redesSocialesLinks['twitter']" placeholder="Ingrese el enlace de Twitter" *ngIf="redesSociales.twitter">
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
        </form>
      </div>
      <div class="col-md-4 center-section">
        <h3>Ingresar habilidades</h3>
        <form (ngSubmit)="submitHabilidadesForm()" >
          <div class="form-group" >
            <label for="habilidadesInput">Habilidades:</label>
            <input type="text" class="form-control" id="habilidadesInput" name="habilidadesInput" [(ngModel)]="nuevaHabilidad" placeholder="Ingrese sus habilidades">
          </div>
          <div class="form-group">
            <label for="herramientasInput">Herramientas:</label>
            <input type="text" class="form-control" id="herramientasInput" name="herramientasInput" [(ngModel)]="nuevaHerramienta" placeholder="Ingrese las herramientas que posee">
          </div>
          <br>
          <button type="submit" class="btn btn-primary  btn-sm">Agregar</button>
        </form>
        <table *ngIf="habilidadesList.length > 0" class="table mt-4" >
          <thead>
            <tr>
              <th>Habilidades</th>
              <th>Herramientas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let habilidad of habilidadesList">
              <td>{{ habilidad.habilidad }}</td>
              <td>{{ habilidad.herramienta }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 right-section" >
        <img src="https://media.istockphoto.com/id/1428565727/es/vector/fecha-de-vacaciones-hora-del-planeta-ahorro-de-energ%C3%ADa-y-planeta-concepto-de-dise%C3%B1o-hora.jpg?s=612x612&w=0&k=20&c=5dPUq-T5HfLrit6n2ZBvMFkmjqk0s2dokv8AStiY398="
        alt="Imagen referente al texto de la sección 1" class="img-fluid d-block"
        style="max-width: 100%;">
      </div>
    </div>
  </div>
</section>


<section id="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 left-section">
        <h3>Búsqueda de usuarios</h3>
        <div class="search-container">
          <input type="text" class="form-control" id="searchInput" placeholder="Nombre o habilidad">
          <br>
          <button class="btn btn-primary btn-sm" id="searchButton">Buscar</button>
        </div>
        <h4>Resultados de búsqueda:</h4>
        <div class="user-grid">
          <div class="user-card">
            <div class="user-name">Cristian Shueco</div>
            <div class="user-skills">Desconocida</div>
          </div>
          <div class="user-card">
            <div class="user-name">Marcos Riquelme</div>
            <div class="user-skills">Cocinería, Lavandería</div>
          </div>
          <div class="user-card">
            <div class="user-name">Jesus Roman</div>
            <div class="user-skills">Electrico, Soldadura</div>
          </div>
          <!-- Agrega más tarjetas de usuario aquí -->
        </div>
      </div>
      <div class="col-md-4 center-section">
        <h3>Últimos Registros</h3>
        <div class="latest-users">
          <div class="user">
            <h4>Humberto Ramos</h4>
            <div class="skills-container skills-section  ">
              <div class="skill">Mecánica Automotriz</div>
              <div class="skill">Gasfitería</div>
              <div class="skill">Panadería</div>
            </div>
          </div>
          <div class="user">
            <h4>Roberto Carlos</h4>
            <div class="skills-container skills-section  ">
              <div class="skill">Carpintería</div>
              <div class="skill">Gasfitería</div>
            </div>
          </div>
          <div class="user">
            <h4>Juan Pedro</h4>
            <div class="skills-container skills-section  ">
              <div class="skill">Diseño gráfico</div>
              <div class="skill">Programación</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4  right-section version-final">
        <h3>¡Únete a nuestra comunidad!</h3>
          <p>Descubre un mundo de oportunidades y conéctate con profesionales de diferentes habilidades.</p>
          <p>Beneficios de unirte:</p>
          <ul>
            <li>Amplía tu red profesional.</li>
            <li>Comparte y aprende nuevas habilidades.</li>
            <li>Participa en proyectos interesantes.</li>
            <li>Encuentra colaboradores para tus propias iniciativas.</li>
          </ul>
          <a href="#section2" class="join-link">Únete ahora</a>
        </div>
    </div>
  </div>
</section>
